#about-page-content {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

#primary-content {
  flex-direction: column;
  display: flex;
}

#profile-photo {
  width: 150px;
  height: 50%;
  border-radius: 50%;
  margin: 20px;
  align-self: center;
}

#about-me-text {
  margin: 20px;
  text-align: left;
  max-width: 50em;
  //color: var(--dark-background);
}

/* Small devices such as large phones (575px and up) */
@media only screen and (min-width: var(--small-device)) {
  #about-page-content {
    width: 80dvw;
  }

  #profile-photo {
    width: 150px;
  }

  #primary-content {
    flex-direction: column;
    display: flex;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: var(--medium-device)) {
  #about-page-content {
    width: 75dvw;
  }

  #profile-photo {
    width: 200px;
  }

  #primary-content {
    flex-direction: column;
    display: flex;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: var(--large-device)) {
  #about-page-content {
    width: 75dvw;
  }

  #profile-photo {
    width: 250px;
  }

  #primary-content {
    flex-direction: row;
    display: flex;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: var(--x-large-device)) {
  #about-page-content {
    width: 65dvw;
  }

  #profile-photo {
    width: 300px;
  }

  #primary-content {
    flex-direction: row;
    display: flex;
  }
}
