#about-page-content-wrapper {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 80px;
  padding-top: 20px;
  width: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
}

#about-me-details-wrapper {
  display: flex;
  flex-direction: column;
}

#about-page-textbox-wrapper {
  display: flex;
  flex-direction: column;
}

.about-profile-photo-textbox {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

#photo-and-icon-wrapper-small-format {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-photo-small-format {
  border-radius: 50%;
  width: 250px;
  padding: 20px;
}

#profile-photo {
  width: 300px;
  height: auto;
  border-radius: 5%;
  margin: 20px;
  align-self: center;
}

#about-me-text {
  margin: 20px;
  text-align: left;
  max-width: 30em;
  font-size: var(--font-size-xsm);
}

#social-media-icons {
  display: flex;
  flex-direction: row;
}

#photo-and-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-media-icon-light {
  fill: var(--dark-border-color);
}

.social-media-icon-dark {
  fill: var(--primary-white);
}

#social-media-icons .social-media-icon-light:hover {
  fill: var(--light-background);
}

#social-media-icons .social-media-icon-dark:hover {
  fill: var(--dark-background);
}

/* Small devices such as large phones (575px and up) */
@media only screen and (min-width: 36em) {
  #about-page-content {
    width: 80dvw;
  }

  #profile-photo {
    width: 150px;
  }

  #about-me-details-wrapper {
    flex-direction: column;
    display: flex;
  }

  #about-page-textbox-wrapper {
    flex-direction: column;
  }

  .about-profile-photo-textbox {
    display: none;
  }

  #photo-and-icon-wrapper-small-format {
    visibility: visible;
  }

  #profile-photo-small-format {
    width: 300px;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  #about-page-content {
    width: 75dvw;
  }

  #profile-photo {
    width: 300px;
  }

  #about-me-details-wrapper {
    flex-direction: column;
    display: flex;
  }

  #about-page-textbox-wrapper {
    flex-direction: column;
  }

  .about-profile-photo-textbox {
    display: none;
  }

  #photo-and-icon-wrapper-small-format {
    visibility: visible;
  }

  #profile-photo-small-format {
    width: 300px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  #about-page-content {
    width: 70dvw;
  }

  #profile-photo {
    width: 300px;
  }

  #primary-content {
    flex-direction: column;
    display: flex;
  }

  #about-page-textbox-wrapper {
    flex-direction: row;
  }

  .about-profile-photo-textbox {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
  }

  #photo-and-icon-wrapper-small-format {
    display: none;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  #about-page-content {
    width: 65dvw;
  }

  #profile-photo {
    width: 300px;
  }

  #about-me-details-wrapper {
    width: 100%;
  }

  #about-me-details-wrapper {
    display: flex;
    flex-direction: column;
  }

  #about-page-textbox-wrapper {
    flex-direction: row;
  }

  .about-profile-photo-textbox {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
  }

  #photo-and-icon-wrapper-small-format {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
