.default-text-box {
  //border-width: var(--text-box-border-size-sm);
  border-radius: var(--text-box-border-radius);
  //border-color: var(--primary-white);
  //border-style: solid;
  overflow: hidden;
}

.default-text-box-dark {
  background-color: var(--dark-background);
}

.default-text-box-light {
  //fcb040
  background-color: #ffb951;
}

@media only screen and (min-width: 48em) {
  .default-text-box {
    border-width: 10px;
  }
}
