.default-text-box {
  border-width: var(--text-box-border-size-lg);
  border-radius: 50px;
  border-style: dashed;
  overflow: hidden;
  border-color: var(--primary-white);
}

.default-text-box-dark {
  //border-color: white;
  background-color: var(--dark-background-secondary);
}

.default-text-box-light {
  //fcb040
  //border-color: var(--light-background);
  background-color: var(--light-background-secondary);
}

@media only screen and (max-width: 48em) {
  .default-text-box {
    border-width: var(--text-box-border-size-sm);
  }
}
