#contact-page-content {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 80px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

#contact-title {
  justify-content: center;
}

#contact-page-name-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-header-text {
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

textarea.form-control {
  font-size: var(--font-size-sm);
  font-family: Niramit;
  background-color: var(--primary-white);
}

#contact-form-title-text {
  text-align: center;
}

#contact-form-wrapper {
  margin: 20px;
}

input.dark.input-form,
textarea.dark.input-form,
input.light.input-form,
textarea.light.input-form {
  color: var(--primary-black);
}

input.input-form,
textarea.input-form {
  margin-bottom: 20px;
}

#recaptcha {
  margin-bottom: 20px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 36em) {
  #contact-form-wrapper {
    margin: 30px;
    width: 500px;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  #contact-form-wrapper {
    margin: 30px;
    width: 600px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  #contact-form-wrapper {
    margin: 30px;
    width: 700px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  #contact-form-wrapper {
    margin: 30px;
    width: 800px;
  }
}
