#primary-text-box {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  padding-bottom: 30px;
  width: 700px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

#primary-text-box .btn:hover {
  .bi-arrow-right {
    transform: translateX(4px);
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: var(--small-device)) {
  #primary-text-box {
    width: 400px;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: var(--medium-device)) {
  #primary-text-box {
    width: 550px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: var(--large-device)) {
  #primary-text-box {
    width: 650px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: var(--x-large-device)) {
  #primary-text-box {
    width: 700px;
  }
}
