body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//background animations
@keyframes move-background {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes move-background-bounce {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes move-background-10 {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(100%);
  }
}

//background themes for light and dark mode1;
.stars {
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stars-dark {
  background: var(--dark-background) url('/starry-night-70.png') repeat;
}

.stars-light {
  background: var(--light-background) url('/starry-night-flowers.png') repeat;
}

.moon-sun {
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 33em;
  left: 70dvw;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.moon-sun-light {
  width: 400px;
  background-size: 400px;
  background: transparent url('/starry-night-sun.png') no-repeat;
}

.moon-sun-dark {
  width: 400px;
  background-size: 400px;
  background: transparent url('/starry-night-moon.png') no-repeat;
}

.clouds1 {
  width: 10000px;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  animation: move-background 500s linear infinite;
}

.clouds1-dark {
  background: transparent url('/starry-night-clouds1.png') repeat-x;
}

.clouds1-light {
  background: transparent url('/starry-night-clouds1-orange.png') repeat-x;
}

.clouds2 {
  width: 10000px;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 460px;
  bottom: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  animation: move-background-10 700s linear infinite;
}

.clouds2-dark {
  background: transparent url('/starry-night-clouds2.png') repeat-x;
}

.clouds2-light {
  background: transparent url('/starry-night-clouds2-orange.png') repeat-x;
}

.clouds3 {
  width: 10000px;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  animation: move-background 1000s linear infinite;
}

.clouds3-dark {
  background: transparent url('/starry-night-clouds3.png') repeat-x;
}

.clouds3-light {
  background: transparent url('/starry-night-clouds3-orange.png') repeat-x;
}

.twinkle {
  width: 10000px;
  height: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  animation: move-background-bounce 100s linear infinite;
}

.twinkle-dark {
  background: transparent url('/starry-night-twinkle.png') repeat-x;
}

.twinkle-light {
  background: transparent url('/starry-night-twinkle-day.png') repeat-x;
}

//light-dark mode toggler styles

.light-dark-toggle {
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-top: 8px;
}

.toggle-border {
  position: fixed;
  height: 50px;
  width: 80px;
  bottom: 42px;
  right: 5dvw;
  border-radius: 50px;
}

.dark.toggle-border {
  background-color: var(--dark-background);
}

.light.toggle-border {
  background-color: var(--light-background);
}

.primary-content-wrapper {
  height: calc(100dvh - 70px);
  width: 100dvw;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
