a.nav-link {
  font-family: Niramit;
  font-size: var(--font-size-sm);
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  z-index: 1;
  margin-top: 10px;
}

/* change navbar background on collapse */
@media (max-width: 575px) {
  .navbar-collapse-dark.collapse {
    background: var(--dark-background);
    border-radius: 10px;
  }

  .navbar-collapse-light.collapse {
    background: var(--light-background);
    border-radius: 10px;
  }

  .navbar-collapse-dark.collapsing {
    background-color: var(--dark-background);
    border-radius: 10px;
  }

  .navbar-collapse-light.collapsing {
    background-color: var(--light-background);
    border-radius: 10px;
  }
}
