#experience-content-wrapper {
  align-items: auto;
}

#experience-page-content {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

#experience-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.download-icon {
  margin-top: 10px;
}

.download-icon-light {
  fill: var(--dark-background);
}

.download-icon-dark {
  fill: var(--light-background-secondary);
}

.download-icon-light:hover {
  fill: var(--dark-border-color);
}

.download-icon-dark:hover {
  fill: var(--dark-border-color);
}

#experience-page-content-textbox-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-content-wrapper {
  margin: 20px;
  text-align: left;
}

.experience-section-wrapper {
  text-align: left;
  height: fit-content;
  margin: 20px;
}

.experience-column1 .experience-section-header {
  font-size: var(--font-size-sm-md);
  font-weight: bold;
  text-align: left;
}

.experience-column1 {
  max-width: 400px;
}

.experience-column2 {
  max-width: 400px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 36em) {
  .experience-column1 {
    max-width: 700px;
  }

  .experience-column2 {
    max-width: 700px;
  }

  #experience-page-content-textbox-group {
    display: flex;
    flex-direction: column;
  }

  #experience-page-content-textbox-group {
    align-items: center;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .experience-column1 {
    max-width: 800px;
  }

  .experience-column2 {
    max-width: 800px;
  }

  #experience-page-content-textbox-group {
    display: flex;
    flex-direction: column;
  }

  #experience-page-content-textbox-group {
    align-items: center;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .experience-column1 {
    max-width: 400px;
  }

  .experience-column2 {
    max-width: 650px;
  }

  #experience-page-content-textbox-group {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .experience-column1 {
    width: 400px;
  }

  .experience-column2 {
    max-width: 650px;
  }

  #experience-page-content-textbox-group {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
}
