:root {
  color-scheme: light dark;

  //font styles
  --font-size-lg: 60px;
  --font-size-md: 40px;
  --font-size-sm-md: 25px;
  --font-size-sm: 18px;
  --font-size-xsm: 16px;

  //primary color scheme
  --primary-white: #f4faff;
  --primary-black: #111b2c;
  --dark-background: #111b2c;
  --dark-background-secondary: #233658;
  --light-background: #cce9ff;
  --light-background-secondary: #f4faff;
  --dark-border-color: #3e638d;

  //component styles
  --text-box-border-radius: 10px;
  --text-box-border-size-lg: 10px;
  --text-box-border-size-sm: 5px;
}

$primary: #111b2c;
$secondary: #f4faff;
$light: #cce9ff;
$dark: #233658;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  .light {
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    li,
    label,
    input,
    button {
      color: var(--primary-black);
    }

    input[type='text'],
    input[type='email'],
    textarea {
      border-color: var(--light-background);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    textarea:focus {
      outline: var(--light-background) solid 2px;
      outline-offset: -3px;
    }
  }

  .dark {
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    li,
    label,
    input,
    button {
      color: var(--primary-white);
    }

    input[type='text'],
    input[type='email'],
    textarea {
      border-color: transparent;
    }

    input[type='text']:focus,
    input[type='email']:focus,
    textarea:focus {
      outline: var(--dark-background-secondary) solid 2px;
      outline-offset: -3px;
    }
  }

  h1 {
    font-family: 'Paytone One';
  }

  h2 {
    font-family: 'Paytone One';
  }

  h3 {
    font-family: Niramit;
    font-weight: 600;
  }

  h4 {
    font-family: Niramit;
    font-weight: 500;
  }

  p {
    font-family: Niramit;
  }

  li {
    font-family: Niramit;
  }

  a {
    font-family: Niramit;
  }

  label {
    font-family: Niramit;
  }

  .standard-text-light {
    font-family: Niramit;
    color: var(--primary-white);
    font-size: var(--font-size-sm);
  }

  .standard-text-dark {
    font-family: Niramit;
    color: var(--primary-black);
    font-size: var(--font-size-sm);
  }

  input[type='text'],
  input[type='email'],
  textarea {
    font-size: var(--font-size-sm);
    font-family: Niramit;
    background-color: var(--primary-white);
    border-radius: 5px;
    border-color: transparent;
    caret-color: var(--primary-black);
    border: solid;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 36em) {
  h1 {
    font-size: var(--font-size-md);
  }

  h2 {
    font-size: var(--font-size-sm);
  }

  h3 {
    font-size: var(--font-size-sm);
  }

  h4 {
    font-size: var(--font-size-sm);
  }

  p {
    font-size: var(--font-size-xsm);
  }

  a {
    font-size: var(--font-size-xsm);
  }
}

@media only screen and (min-width: 36em) {
  h1 {
    font-size: var(--font-size-lg);
  }

  h2 {
    font-size: var(--font-size-md);
  }

  h3 {
    font-size: var(--font-size-md);
  }

  h4 {
    font-size: var(--font-size-sm);
  }

  p {
    font-size: var(--font-size-sm);
  }

  li {
    font-size: var(--font-size-xsm);
  }

  a {
    font-size: var(--font-size-sm);
  }

  label {
    font-size: var(--font-size-sm);
  }
}
